

#container{
	width: 100%;
	height: 100%;
	overflow: hidden;

}


ul
{
	 box-shadow: inset 0px 0px 0px rgba(30,30,240,0.9);
    list-style-type:none;
    margin:0;
    padding:0;
    overflow:hidden;
}
li
{

	box-shadow: inset 0px 0px 0px rgba(30,30,240,0.9);
    font: arial;
    //*float:left;*/
}
.elements:link,.elements:visited
{
	box-shadow: inset 0px 0px 10px rgba(0,0,0,0.5);
    top:2px;
    border-radius: 2px;
    display:block;
    width:150px;
    /*font-weight:bold;*/
    color:#FFFFFF;
    background-color:#72908C;
    text-align:center;
    padding:15px;
    text-decoration:none;
    font-size: 15px;
    font:Arial;
/*text-transform:uppercase;*/
}
.elements:hover,.elements:active
{
    -webkit-box-shadow: 0px 0px 0px #000,
    inset :0 0 0px #000;
    -moz-box-shadow: 0px 0px 0px #000,
    inset :0 0 0px #000;
    box-shadow: inset 0px 0px 50px rgba(30,30,240,0.9);
    background-color:#50C5FA;

    color:#505050;
    /*color: transparent;*/
    text-shadow: 0px 2px 3px rgba(30,30,240,0.5);
}


.elements2
{
	box-shadow: inset 0px 0px 10px rgba(0,0,0,0.5);
    top:2px;
    border-radius: 2px;
    display:block;
    width:90%;
    font-weight:bold;
    color:#FFFFFF;
    background-color:#2B2B40;
    text-align:center;
    padding:15px;
    text-decoration:none;
/*text-transform:uppercase;*/
}
.elements2:hover,.elements2:active
{
    /*-webkit-box-shadow: 0px 0px 0px #000,
    inset :0 0 0px #000;
    -moz-box-shadow: 0px 0px 0px #000,
    inset :0 0 0px #000;
    box-shadow: inset 0px 0px 50px rgba(30,30,240,0.9);
    background-color:#50C5FA;*/
    color:#E4F900;
    /*color: transparent;*/

}
#divisions{
	
}

#navbar{
	width: 10%;
	height: 1000px;
	background: #000000;
}


.sections{
	float:left;
	height:100%;
	width:25%;
	margin-right:0.7%;
}

.interactions{
	float:left;
	height:100%;
	width:10%;
	margin-right:3px;
}

.interact:hover{
color:#E4F900;
}

.interact{

	box-shadow: inset 0px 0px 10px rgba(0,0,0,0.5);
    top:2px;
    border-radius: 2px;
    display:block;
    width:162px;
    height: 30px;
    font-weight:bold;
    color:#FFFFFF;
    background-color:#2B2B40;
    text-align:center;
    padding:8px;
    text-decoration:none;
}

.container2
{
    width:262px;
    margin:0 auto;
    padding-top:200px;
}
#loginContainer
{
    position:relative;
    margin-right:10px;
    float:right;
    font-size:15px;
}
/* Login Button */
#loginButton
{
    display:inline-block;
    float:right;
    background:#1463CC;/* url(../images/buttonbg.png) repeat-x; */
    border:1px solid #899caa;
    border-radius:3px;
    -moz-border-radius:3px;
    position:relative;
    z-index:30;
    cursor:pointer;
    height: 30px;
    border: 1px solid #54636B;
    color:#505050;
    text-align: center;
    width: 60px;
    margin-top: 3px;
    border-radius: 10%;
    margin-right: 3px;
    margin-left: 3px;
    padding-top: 10px;
    text-decoration:none;

}

/* Login Button Text */
#loginButton span
{
    color:#ffffff;
    /*font-size:14px; */
    font-weight:bold;
    /*text-shadow:1px 1px #fff; */
    padding:7px 29px 9px 10px;
    background:url(../images/loginArrow.png) no-repeat 53px 7px;
    /*display:block*/
    text-align: center;
    height: 20px;
}

#loginButton:hover
{

    background:url(../images/buttonbgHover.png) repeat-x;
    height: 20px;
    -webkit-box-shadow: 0px 0px 0px #000,
    inset :0 0 0px #000;
    -moz-box-shadow: 0px 0px 0px #000,
    inset :0 0 0px #000;
    box-shadow: inset 0px 0px 0px rgba(30,30,240,0.9);
    border: 1px solid #2491DE;
}

/* Login Box */
#loginBox
{
    position:absolute;
    top:34px;
    right:0;
    display:none;
    z-index:29;
    text-align: center;
}

/* If the Login Button has been clicked */
#loginButton.active
{
    height:36px;
    background-color: #2491DE;
    border-radius:3px 3px 0 0;
    border: 1px solid #2491DE;

}

#loginButton.active span
{

    background-position:53px -76px;
}

/* A Line added to overlap the border */
#loginButton.active em
{
    position:absolute;
    width:100%;
    background:#2491DE;
    bottom:-10px;
}

/* Login Form */
#loginForm {
    width:320px;
    border-radius:3px 0 3px 3px;
    -moz-border-radius:3px 0 3px 3px;
    margin-top:15px;
    background:#2491DE;
    padding:10px;
    padding-bottom: 30px;
}
#loginForm fieldset {
    margin:0 0 12px 0;
    display:block;
    border:0;
    padding:0;
    text-align: left;
}
fieldset#body {
    background:#fff;
    border-radius:3px;
    -moz-border-radius:3px;
    padding:10px 13px;
    margin:0;
}
#loginForm #checkbox {
    width:auto;
    margin:1px 9px 0 0;
    float:left;
    padding:0;
    border:0;
    background: 'white';
    *margin:-3px 9px 0 0; /* IE7 Fix */
}
/*#body label {
  color:#3a454d;
  margin:9px 0 0 0;
  display:block;
  float:left;*/
}
#loginForm #body fieldset label {
    display:block;
    float:none;
    margin:0 0 6px 0;
}
/* Default Input */
#loginForm input {
    width:92%;
    border:1px solid #899caa;
    border-radius:3px;
    -moz-border-radius:3px;
    color:#3a454d;
    font-weight:bold;
    padding:8px 8px;
    box-shadow:inset 0px 0px 0px #bbb;
    -webkit-box-shadow:inset 0px 0px 0px #bbb;
    -moz-box-shadow:inset 0px 0px 0px #bbb;
    font-size:12px;
}
/* Sign In Button */
#loginForm #login {
    width:auto;
    float:left;
    background:#339cdf url(../images/loginbuttonbg.png) repeat-x;
    color:#fff;
    padding:7px 10px 8px 10px;
    text-shadow:0px -1px #278db8;
    border:1px solid #339cdf;
    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    margin:0 12px 0 0;
    cursor:pointer;
    *padding:7px 2px 8px 2px; /* IE7 Fix */
}
/* Forgot your password */
#loginForm span {

    text-align:left;
    display:block;
    padding:7px 0 1px 0;


}
#loginForm span a {
    color:#3a4674;
    text-shadow:1px 1px #fff;
    font-size:12px;
    height: 12px;
}
input:focus {
    outline:none;
}
a.forgot{
    background: #2491DE;
    width:150px;
    color: #FFFFFF;
    text-decoration: none;
    text-align: left;


}
::-webkit-scrollbar {
	width: 4px;
	height: 4px;
}
::-webkit-scrollbar-button {
	width: 4px;
	height:4px;
}
::-webkit-scrollbar-track {
	background:
	border: skinny plain black;
	box-shadow: 0px 0px 3px #dfdfdf inset;
	border-radius:10px;
}
::-webkit-scrollbar-thumb {
	background:
	border: skinny plain black;
	border-radius:10px;
}
::-webkit-scrollbar-thumb:hover {
	background:
}



::-webkit-scrollbar-track-piece  { background:#9FAABA;
	border: skinny plain black;
	border-radius:10px;}
::-webkit-scrollbar-thumb        { background:#7E838B;
	border: skinny plain black;
	border-radius:10px;}
::-webkit-scrollbar-corner       {  }
::-webkit-resizer                { }


#loginForm #Sign-up{
    -webkit-box-shadow: 0px 0px 0px #000,
    -moz-box-shadow: 0px 0px 0px #000;
    box-shadow: 0px 0px 0px  #ccc;
    display:inline;
    margin-right: 10px;
    background-color:#2491DE;
    height: 30px;
    width: 40px;
    text-decoration: none;
    font-size: 13px;
}

ul
{
    list-style-type:none;
    margin:0;
    padding:0;
    overflow:hidden;
}
li
{
    font: arial;
    //*float:left;*/
}

